@import "constants/scss/includes.scss";

.Header {
  display: flex;
  position: relative;
  align-items: center;
  padding: 10px;
  margin: 12px;
  height: 56px;
  
  @include media-query(small) {
    margin: 12px;
    height: 68px;
  }
}
