@import url(http://fonts.googleapis.com/css?family=Roboto);

$x-small: 480px;
$small: 768px;
$medium: 1023px;
$large: 1200px;
$x-large: 1300px;

$border-radius: 5px;

$color-background: #555759;
$color-backgroundLight: #ffffff;
$color-backgroundDark: #2d3032;
$color-border: #9615db;
$color-purple: #9615db;
$color-text-fade: #626c79;

$AjRegular: "Roboto", serif;
