@import "constants/scss/includes.scss";

.Hero {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: $color-backgroundLight;
  background-position: top center;
  width: 100%;
  max-width: 2000px;
  min-height: 300px;
  margin: 0 auto -100px auto;
  padding-bottom: 100px;
  overflow: hidden;

  &:before {
    position: absolute;
    background: linear-gradient(
      to top,
      transparent 70%,
      rgba($color: $color-background, $alpha: 0.5)
    );
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  @include media-query(medium) {
    min-height: 400px;
  }

  @include media-query(x-large) {
    min-height: 520px;
    margin-bottom: -200px;
    padding-bottom: 200px;
  }
}